<!--
    <particles
        [params]="myParams"
        [style]="myStyle"
        [width]="width"
        [height]="height"
        #propagation
    ></particles>
-->

<div fxLayout="column" fxLayoutAlign="center center">
    <h1>Welcome!</h1>
    <h4>Welcome! This is my awesome dummy project with MEAN Stack.</h4>
    <div fxLayout="row" fxLayoutGap="20px">
        <button mat-raised-button color="accent" routerLink="/new-task">
            Go to New Task Area
        </button>
        <button mat-raised-button color="accent" routerLink="/version">
            Go to Version
        </button>
    </div>
</div>
